parameters:
	ignoreErrors:
		-
			message: "#^Variable method call on Awuxtron\\\\Web3\\\\Methods\\\\Eth\\.$#"
			count: 1
			path: src/Contracts/Method.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{Awuxtron\\\\Web3\\\\Types\\\\EthereumType, 'encode'\\|'encodeToArray'\\} given\\.$#"
			count: 1
			path: src/Types/Obj.php

		-
			message: "#^Variable method call on \\$this\\(Awuxtron\\\\Web3\\\\Web3\\)\\.$#"
			count: 1
			path: src/Web3.php

		-
			message: "#^Variable method call on mixed\\.$#"
			count: 1
			path: src/Web3.php

